<section class="wrap container" xmlns="http://www.w3.org/1999/html">
  <div class="row justify-content-center text-sm-center">
    <div class="col-xs-12 col-md-6 align-self-center">
      <div class="">
        <h2 class="text-center">常見問題與幫助</h2>
        <p class="">若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid hidden-sm-down" src="/assets/images/docs.svg" style="max-height:200">
    </div>
  </div>
</section>
<section class="wrap container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#tab1"><h5>一般問題</h5>
      </a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#tab2"><h5>網站使用問題</h5></a>
      </li>
    </ul>
    <!-- /tabs -->
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1" role="tabpanel">
      <div class="col-xs-12 align-self-center">
        <h5 class=""><strong>什麼是農業生產力4.0共通平台？</strong></h5>
        <p>
          行政院於104年6月召開生產力4.0科技發展策略會議，提出以生產力4.0，作為臺灣下一階段科技發展的主軸，會中揭示製造業、服務業和農業都一起邁向生產力4.0，讓製造業納入服務業的特質，讓農業導入服務業特質，邁向全新階段。<br>
          為有效實現前述農業生產力4.0的推動，引進完善與先進的第三代資訊平台設計理念，包含「大數據」、「智慧/物聯網」、「移動/社群」、「雲端」等基礎關鍵技術，發展「農業生產力4.0共通平台」。
        </p>
      </div>
      <div class="col-xs-12 align-self-center">
        <h5 class=""><strong>什麼是農業生產力4.0共通平台OPEN API？</strong></h5>
        <p>
          農業生產力4.0共通平台開放資料OPEN API服務，以REST(Representational State Transfer)
          API的方式，透過URL與參數的結合，以JSON格式回傳各種專家建議、環境資訊、物聯網資訊等資料，提供農民、農企業、系統開發商等使用者使用。
        </p>
      </div>
      <div class="col-xs-12 align-self-center">
        <h5 class=""><strong>共通平台資料來源為何？</strong></h5>
        <p>
          農業設施場域之物聯網感測器資料食物溯源資料，如四章一Q之食物溯源資料(生產履歷、吉園圃、有機驗證、CAS與生產追溯)。<br>
          • (目前以計畫展示場域為主)。<br>
          • 未來依據計畫規劃，陸續增加相關官方與民間之農業相關大數據<br>
        </p>
      </div>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab2" role="tabpanel">
      <div class="col-xs-12">
        <h5 class=""><strong>下載資料需要加入會員嗎?</strong></h5>
        <p>
          使用open API需要加入會員。
        </p>
      </div>
      <div class="col-xs-12">
        <h5 class=""><strong>取得與使用平臺資料是否需要付費？</strong></h5>
        <p>
          本平台提供之資料為免費使用。
        </p>
      </div>
      <div class="col-xs-12">
        <h5 class=""><strong>授權的方式和限制是什麼？</strong></h5>
        <p>
          成功加入會員後，即可取得OPEN API的授權。<br>
          授權使用者得不限時間或地域不限時間及地域，重製、改 作、編輯、公開傳輸或為其他利用方式，開發各種產品或服務。
        </p>
      </div>
      <div class="col-xs-12">
        <h5 class=""><strong>平臺上列示的資料格式有那些？請問要如何介接資料？</strong></h5>
        <p>
          目前平臺僅提供「應用程式介面」(API)，可以直接透過系統介接取得資料。詳細內容可參閱本平台「開發者專區」。
        </p>
      </div>
    </div>
  </div>
  <!-- /tab-content -->
</section>
<!-- /.container -->
<section class="wrap container">
  <div class="row justify-content-center text-sm-center">
    <div class="col-xs-12 text-center">
      <h4 class="">開發者資源</h4>
    </div>
    <hr>
  </div>
  <div class="row justify-content-center text-sm-center">
    <div class="col text-center">
      <h5><a><span class="fa fa-book"></span>&nbsp;&nbsp;開發技術文件</a></h5>
      <!-- <a href="#" class="btn btn-default btn-embossed">Learn more</a> -->
      <p>
        取得實際應用的相關說明。
      </p>
      <!-- /.editContent -->
    </div>
    <!-- /.col-md-4 col -->
    <div class="col text-center">
      <h5><a><span class="fa fa-code"></span>&nbsp;&nbsp;Swagger測試</a></h5>
      <p>
        使用Swagger產生規格與測試API
      </p>
      <!-- /.editContent -->
    </div>
    <!-- /.col-md-4 col -->
    <div class="col text-center">
      <h5><a><span class="fa fa-question-circle"></span>&nbsp;我還有其他問題，如何連絡平台？</a>
      </h5>
      <p>
        可由本平台「連絡我們」，留下您的問題，將有平台管理員為您解答。
      </p>
      <!-- /.editContent -->
    </div>
    <!-- /.col-md-4 col -->
  </div>
</section>
